

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."create_policy_if_not_exists"("policy_name" "text", "table_name" "text", "policy_sql" "text") RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
begin
    if not exists (
        select 1 from pg_policies 
        where schemaname = 'public' 
        and tablename = table_name 
        and policyname = policy_name
    ) then
        execute policy_sql;
    end if;
end;
$$;


ALTER FUNCTION "public"."create_policy_if_not_exists"("policy_name" "text", "table_name" "text", "policy_sql" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
begin
  insert into public.users (id, email, name, created_at, updated_at)
  values (
    new.id,
    new.email,
    coalesce(new.raw_user_meta_data->>'name', new.raw_user_meta_data->>'full_name', new.email),
    now(),
    now()
  );
  return new;
end;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
    new.updated_at = now();
    return new;
end;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."email_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "event_id" "uuid",
    "guest_id" "uuid",
    "resend_email_id" "text",
    "email_type" "text" NOT NULL,
    "recipient_email" "text" NOT NULL,
    "subject" "text" NOT NULL,
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "sent_at" timestamp with time zone DEFAULT "now"(),
    "delivered_at" timestamp with time zone,
    "opened_at" timestamp with time zone,
    "clicked_at" timestamp with time zone,
    "bounced_at" timestamp with time zone,
    "error_message" "text",
    "webhook_data" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "email_logs_email_type_check" CHECK (("email_type" = ANY (ARRAY['invitation'::"text", 'confirmation'::"text", 'reminder'::"text", 'test'::"text"]))),
    CONSTRAINT "email_logs_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'sent'::"text", 'delivered'::"text", 'opened'::"text", 'clicked'::"text", 'bounced'::"text", 'complained'::"text", 'failed'::"text"])))
);


ALTER TABLE "public"."email_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."events" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "host_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "event_date" timestamp with time zone,
    "location" "text" NOT NULL,
    "spotify_playlist_url" "text",
    "active_game_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "start_date" timestamp with time zone NOT NULL,
    "end_date" timestamp with time zone NOT NULL,
    "event_type" "text" DEFAULT 'single_day'::"text",
    "invite_image_url" "text",
    "max_guests" integer,
    "is_public" boolean DEFAULT false,
    "description" "text",
    CONSTRAINT "check_end_date_after_start_date" CHECK (("end_date" >= "start_date")),
    CONSTRAINT "events_event_type_check" CHECK (("event_type" = ANY (ARRAY['single_day'::"text", 'multi_day'::"text"])))
);


ALTER TABLE "public"."events" OWNER TO "postgres";


COMMENT ON COLUMN "public"."events"."event_date" IS 'Legacy field - use start_date for new events';



COMMENT ON COLUMN "public"."events"."start_date" IS 'Start date and time of the event';



COMMENT ON COLUMN "public"."events"."end_date" IS 'End date and time of the event';



COMMENT ON COLUMN "public"."events"."event_type" IS 'Type of event: single_day or multi_day';



COMMENT ON COLUMN "public"."events"."invite_image_url" IS 'URL of uploaded custom invite image (stored in Supabase storage)';



COMMENT ON COLUMN "public"."events"."description" IS 'Optional description of the event';



CREATE OR REPLACE VIEW "public"."email_analytics" AS
 SELECT "e"."id" AS "event_id",
    "e"."name" AS "event_name",
    "count"("el"."id") AS "total_emails_sent",
    "count"(
        CASE
            WHEN ("el"."status" = 'delivered'::"text") THEN 1
            ELSE NULL::integer
        END) AS "delivered_count",
    "count"(
        CASE
            WHEN ("el"."status" = 'opened'::"text") THEN 1
            ELSE NULL::integer
        END) AS "opened_count",
    "count"(
        CASE
            WHEN ("el"."status" = 'clicked'::"text") THEN 1
            ELSE NULL::integer
        END) AS "clicked_count",
    "count"(
        CASE
            WHEN ("el"."status" = 'bounced'::"text") THEN 1
            ELSE NULL::integer
        END) AS "bounced_count",
    "count"(
        CASE
            WHEN ("el"."status" = 'failed'::"text") THEN 1
            ELSE NULL::integer
        END) AS "failed_count",
    "round"(((("count"(
        CASE
            WHEN ("el"."status" = 'delivered'::"text") THEN 1
            ELSE NULL::integer
        END))::numeric / (NULLIF("count"("el"."id"), 0))::numeric) * (100)::numeric), 2) AS "delivery_rate",
    "round"(((("count"(
        CASE
            WHEN ("el"."status" = 'opened'::"text") THEN 1
            ELSE NULL::integer
        END))::numeric / (NULLIF("count"(
        CASE
            WHEN ("el"."status" = 'delivered'::"text") THEN 1
            ELSE NULL::integer
        END), 0))::numeric) * (100)::numeric), 2) AS "open_rate",
    "round"(((("count"(
        CASE
            WHEN ("el"."status" = 'clicked'::"text") THEN 1
            ELSE NULL::integer
        END))::numeric / (NULLIF("count"(
        CASE
            WHEN ("el"."status" = 'opened'::"text") THEN 1
            ELSE NULL::integer
        END), 0))::numeric) * (100)::numeric), 2) AS "click_rate"
   FROM ("public"."events" "e"
     LEFT JOIN "public"."email_logs" "el" ON (("e"."id" = "el"."event_id")))
  GROUP BY "e"."id", "e"."name";


ALTER VIEW "public"."email_analytics" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."email_events" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "email_log_id" "uuid" NOT NULL,
    "resend_email_id" "text" NOT NULL,
    "event_type" "text" NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    "webhook_data" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "processed_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."email_events" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."guests" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "event_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "email" "text" NOT NULL,
    "is_checked_in" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "email_status" "text" DEFAULT 'not_sent'::"text",
    "last_email_sent_at" timestamp with time zone,
    "email_log_id" "uuid",
    CONSTRAINT "guests_email_status_check" CHECK (("email_status" = ANY (ARRAY['not_sent'::"text", 'sent'::"text", 'delivered'::"text", 'opened'::"text", 'clicked'::"text", 'bounced'::"text", 'failed'::"text"])))
);


ALTER TABLE "public"."guests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "name" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."users" OWNER TO "postgres";


ALTER TABLE ONLY "public"."email_events"
    ADD CONSTRAINT "email_events_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."email_logs"
    ADD CONSTRAINT "email_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."events"
    ADD CONSTRAINT "events_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."guests"
    ADD CONSTRAINT "guests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_email_events_email_log_id" ON "public"."email_events" USING "btree" ("email_log_id");



CREATE INDEX "idx_email_events_resend_id" ON "public"."email_events" USING "btree" ("resend_email_id");



CREATE INDEX "idx_email_events_type" ON "public"."email_events" USING "btree" ("event_type");



CREATE INDEX "idx_email_logs_event_id" ON "public"."email_logs" USING "btree" ("event_id");



CREATE INDEX "idx_email_logs_guest_id" ON "public"."email_logs" USING "btree" ("guest_id");



CREATE INDEX "idx_email_logs_resend_id" ON "public"."email_logs" USING "btree" ("resend_email_id");



CREATE INDEX "idx_email_logs_sent_at" ON "public"."email_logs" USING "btree" ("sent_at");



CREATE INDEX "idx_email_logs_status" ON "public"."email_logs" USING "btree" ("status");



CREATE INDEX "idx_events_date_range" ON "public"."events" USING "btree" ("start_date", "end_date");



CREATE OR REPLACE TRIGGER "update_email_logs_updated_at" BEFORE UPDATE ON "public"."email_logs" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."email_events"
    ADD CONSTRAINT "email_events_email_log_id_fkey" FOREIGN KEY ("email_log_id") REFERENCES "public"."email_logs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."email_logs"
    ADD CONSTRAINT "email_logs_event_id_fkey" FOREIGN KEY ("event_id") REFERENCES "public"."events"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."email_logs"
    ADD CONSTRAINT "email_logs_guest_id_fkey" FOREIGN KEY ("guest_id") REFERENCES "public"."guests"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."events"
    ADD CONSTRAINT "events_host_id_fkey" FOREIGN KEY ("host_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."guests"
    ADD CONSTRAINT "guests_email_log_id_fkey" FOREIGN KEY ("email_log_id") REFERENCES "public"."email_logs"("id");



ALTER TABLE ONLY "public"."guests"
    ADD CONSTRAINT "guests_event_id_fkey" FOREIGN KEY ("event_id") REFERENCES "public"."events"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "System can insert email events" ON "public"."email_events" FOR INSERT WITH CHECK (true);



CREATE POLICY "Users can create their own events" ON "public"."events" FOR INSERT WITH CHECK (("auth"."uid"() = "host_id"));



CREATE POLICY "Users can create their own profile" ON "public"."users" FOR INSERT WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Users can delete their own events" ON "public"."events" FOR DELETE USING (("auth"."uid"() = "host_id"));



CREATE POLICY "Users can delete their own profile" ON "public"."users" FOR DELETE USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can manage email logs for their events" ON "public"."email_logs" USING ((EXISTS ( SELECT 1
   FROM "public"."events"
  WHERE (("events"."id" = "email_logs"."event_id") AND ("events"."host_id" = "auth"."uid"())))));



CREATE POLICY "Users can manage guests of their events" ON "public"."guests" USING ((EXISTS ( SELECT 1
   FROM "public"."events"
  WHERE (("events"."id" = "guests"."event_id") AND ("events"."host_id" = "auth"."uid"())))));



CREATE POLICY "Users can update their own events" ON "public"."events" FOR UPDATE USING (("auth"."uid"() = "host_id"));



CREATE POLICY "Users can update their own profile" ON "public"."users" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view email events for their logs" ON "public"."email_events" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM ("public"."email_logs"
     JOIN "public"."events" ON (("events"."id" = "email_logs"."event_id")))
  WHERE (("email_logs"."id" = "email_events"."email_log_id") AND ("events"."host_id" = "auth"."uid"())))));



CREATE POLICY "Users can view email logs for their events" ON "public"."email_logs" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."events"
  WHERE (("events"."id" = "email_logs"."event_id") AND ("events"."host_id" = "auth"."uid"())))));



CREATE POLICY "Users can view guests of their events" ON "public"."guests" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."events"
  WHERE (("events"."id" = "guests"."event_id") AND ("events"."host_id" = "auth"."uid"())))));



CREATE POLICY "Users can view their own events" ON "public"."events" FOR SELECT USING (("auth"."uid"() = "host_id"));



CREATE POLICY "Users can view their own profile" ON "public"."users" FOR SELECT USING (("auth"."uid"() = "id"));



ALTER TABLE "public"."email_events" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."email_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."events" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."guests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";





GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";































































































































































GRANT ALL ON FUNCTION "public"."create_policy_if_not_exists"("policy_name" "text", "table_name" "text", "policy_sql" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."create_policy_if_not_exists"("policy_name" "text", "table_name" "text", "policy_sql" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_policy_if_not_exists"("policy_name" "text", "table_name" "text", "policy_sql" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";


















GRANT ALL ON TABLE "public"."email_logs" TO "anon";
GRANT ALL ON TABLE "public"."email_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."email_logs" TO "service_role";



GRANT ALL ON TABLE "public"."events" TO "anon";
GRANT ALL ON TABLE "public"."events" TO "authenticated";
GRANT ALL ON TABLE "public"."events" TO "service_role";



GRANT ALL ON TABLE "public"."email_analytics" TO "anon";
GRANT ALL ON TABLE "public"."email_analytics" TO "authenticated";
GRANT ALL ON TABLE "public"."email_analytics" TO "service_role";



GRANT ALL ON TABLE "public"."email_events" TO "anon";
GRANT ALL ON TABLE "public"."email_events" TO "authenticated";
GRANT ALL ON TABLE "public"."email_events" TO "service_role";



GRANT ALL ON TABLE "public"."guests" TO "anon";
GRANT ALL ON TABLE "public"."guests" TO "authenticated";
GRANT ALL ON TABLE "public"."guests" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";






























RESET ALL;
